// NTSomic

@font-face {
  font-family: "NTSomic";
  src: url(/assets/fonts/NTSomic/NTSomic-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "NTSomic";
  src: url(/assets/fonts/NTSomic/NTSomic-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "NTSomic";
  src: url(/assets/fonts/NTSomic/NTSomic-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "NTSomic";
  src: url(/assets/fonts/NTSomic/NTSomic-Bold.ttf);
  font-weight: 700;
}
